body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    color: #333;
}

#mensajeCestaVacia {
    color: #555;
    font-size: 18px;
    margin-top: 20px;
}

#listaCesta {
    list-style: none;
    padding: 0;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.producto p {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8B0000; /* Color rojo vino */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  #back-to-top-btn:hover {
    background-color: #6B001A; /* Color rojo vino más oscuro al pasar el mouse */
  }
  