body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Para ocultar el desbordamiento de la animación */
    background-image: url('fondo\ login.gif');
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-position: center; /* Para centrar la imagen en el fondo */
}

.contenedor {
    background-color: #ff0000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    opacity: 0; /* Inicialmente oculto */
    animation: aparecer 1s ease-in-out forwards; /* Animación de aparición */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 15px;
}

/* Animación de aparición */
@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8B0000; /* Color rojo vino */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  #back-to-top-btn:hover {
    background-color: #6B001A; /* Color rojo vino más oscuro al pasar el mouse */
  }
  